<% posts.each do |post| %>
  <div class='col-lg-3 col-md-5 col-sm-6 my-5 img_wrap'>
    <%= link_to post_path(post.id), class:"a" do %>
      <% if post.image.attached? %>
        <%= image_tag post.image, size: "200x175", class:'rounded shadow' %>
       <% else %>
        <%= image_tag 'no_image', size: "200x175", class:'rounded shadow' %>
      <% end %>
      <div class="row">
        <span class="text-secondary mt-3"><strong><%= post.title %></strong></span>
        <div class= "favorite-<%= post.id %>">
          <%= render "/public/favorites/btn", post: post %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>