<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">Draft</span>
            <span class="text-ja">下書き一覧</span>
          </h1>
        </header>
      </div>
      <div class="row d-flex justify-content-center">
        <% if @posts.exists? %>
          <% @posts.each do |post| %>
              <div class="card col-3 mx-1 mb-2">
                <%= link_to post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, loading:"lazy", class:'bd-placeholder-img card-img-top'%>
                  <% else %>
                    <%= image_tag 'no_image.png', loading:"lazy", class:'bd-placeholder-img card-img-top' %>
                  <% end %>
                <% end %>
                <%= link_to post_path(post.id), class:"card-body" do%>
                  <span class="col-12 card-title pl-0 user-name link"><%= post.title %></span>
                  <p class="card-text user-place">created at : <%= l post.created_at, format: :short %></p>
                <% end %>
              </div>
          <% end %>
        <% else %>
          <p>下書きはありません</p>
        <% end %>
        <div class="col-3 mx-1 mb-2"></div>
        <div class="col-3 mx-1 mb-2"></div>
      </div>
      <div id="bottom"></div>
    </div>
  </div>
</div>