<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">Edit</span>
            <span class="text-ja">投稿編集</span>
          </h1>
        </header>
      </div>
      <% tag_ids = @post.tags.pluck(:id) %> <!--tagを引っ張る、毎回読み込んでしまうからEACH文には置かないほうが良い-->
      <div class="col-lg-7 col-md-8 col-sm-12 mx-auto">
        <%= form_with model: @post do |f| %>
          <h2 class="sub-header">画像</h2>
          <%= f.label :image, class:'col-4 file-area pr-0' do%>
            <%= f.label :image, '画像を選択する', class:'pl-0 pr-1 file-label'%>
            <span class="label-text_bar"></span>
            <span class="label-text_bar"></span>
            <%= f.file_field :image, accept: "image/*", class:'col-3 px-0 mx-auto file-input' %><!--accept: "image/*で画像のみに限定-->
          <% end %>
          <div id="new-image" class="mt-4 d-flex justify-content-center"></div><!--プレビュー-->
          <h2 class="sub-header mt-5">内容</h2>
          <div class="form-group row mt-5">
            <%= f.label :title, class:'col-2 offset-1 pl-0' do%>
              <span><strong>タイトル</strong></span>
            <% end %>
            <%= f.text_field :title, class:'col-7 mx-auto form-control' %>
          </div>
          <div class="form-group row">
            <%= f.label :date, class:'col-2 offset-1 pl-0' do%>
              <span><strong>撮影日時</strong></span>
            <% end %>
            <%= f.date_field :date, value: @post.date.to_date, class:'col-3 mx-auto form-control' %>
            <span class="col-4"></span>
          </div>
          <div class="form-group row">
            <span class='col-2 offset-1 pl-0'><strong>公開設定</strong></span>
            <%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-25 col-3 mx-auto form-control"} %>
            <span class="col-4"></span>
          </div>
          <div class="form-group row">
            <%= f.label :content, class:'col-2 offset-1 pl-0' do%>
              <span><strong>紹介文</strong></span>
            <% end %>
            <%= f.text_area :content, class:'col-7 mx-auto form-control' %>
          </div>
          <div class="form-group row">
            <ul class="accordion-area">
              <li>
                <section>
                  <span class = "category-name"><strong>タグ選択</strong></span>
                  <table class="box mt-4">
                    <% @categories.each do |category| %>
                      <tr>
                        <td class="col-3 align-top"><span class="mr-3"><%= category.name %></span></td>
                        <td class="d-flex flex-wrap">
                          <% category.tags.each do |tag| %>
                            <label class="tag_area d-flex">
                              <% if tag.id.in?(tag_ids)%>
                              <input class= "tag_input" type="checkbox" checked=true value="<%= tag.id %>" name="post[tags][]" id="post_tags_<%= tag.id %>">
                              <% else%>
                              <input class= "tag_input" type="checkbox" value="<%= tag.id %>" name="post[tags][]" id="post_tags_<%= tag.id %>">
                              <% end %>
                              <div class="tag_list d-flex">
                                <label for="post_tags_<%= tag.id %>" class= "tag_link"><div class="tag_text"><%= tag.name %></div></label>
                              </div>
                            </label>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </section>
              </li>
            </ul>
          </div>
          <div>
            <%= f.hidden_field :latitude,:value =>@post.latitude, id: :lat %>
            <%= f.hidden_field :longitude,:value =>@post.longitude, id: :lng %>
          </div>
          <h2 class="sub-header" id="bottom">位置情報</h2>
          <div class="row d-flex justify-content-center pb-5 border-bottom">
            <%= render "edit_map", post: @post %>
          </div>
          <div class="form-group row d-flex justify-content-center mt-2">
            <p class="text-center text-sm pb-3 ">個人情報の記載がないか、<br>
            投稿内容を再度確認した上での投稿をお願いいたします。<br>
            下書きの場合は公開されません</p>
          </div>
          <div class="form-group row d-flex justify-content-center">
            <%= f.button "保存", type: 'button', onclick: "submit();", class: "link-btn-lg col-6" %> <!--Enter Keyで投稿処理を行わないためにf.buttonに変更-->
          </div>
        <% end %>
      </div>
      <div class="row online-btns mt-5 mb-3">
        <%= link_to "投稿削除", @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "online-btn col-2 offset-8 text-center" %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', function() {
  // turbolinksを無効化したい処理
  });
</script>