<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">Explore</span>
            <span class="text-ja">ひと旅探す</span>
          </h1>
        </header>
      </div>
      <div class="archive-nav">
        <ul class="page-list">
          <li class="is-current"><%= link_to "ひと旅", posts_path, class:"link" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "行ってみたい場所", favorites_users_path(@user), class:"link" %></li>
            <li><%= link_to "おすすめ", recommend_users_path(@user), class:"link" %></li>
          <% end %>
          <li><%= link_to "タグから探す", tags_path, class:"link" %></li>
        </ul>
      </div>
      <div class="row" id="bottom">
        <div class='col-md-12 mb-5'>
          <div class="d-flex align-content-start row flex-wrap py-1">
            <%= render 'index', posts: @posts %>
          </div>
        </div>
      </div>
      <div class="row py-1">
        <div class='col-md-12 d-flex justify-content-center mb-5'>
          <%= paginate @posts %>
        </div>
      </div>
    </div>
</div>