<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">new post</span>
            <span class="text-ja">新規投稿</span>
          </h1>
        </header>
      </div>
      <div class="col-lg-7 col-md-8 col-sm-12 mx-auto">
        <%= form_with model: @post, url: posts_path do |f| %>
          <h2 class="sub-header">画像</h2>
          <div class="col-4 file-area">
            <%= f.label :image, '画像を選択する', class:'px-0 mx-auto file-label' %>
            <span class="label-text_bar"></span>
            <span class="label-text_bar"></span>
            <%= f.file_field :image, accept: "image/*", class:'col-3 px-0 mx-auto file-input' %><!--accept: "image/*で画像のみに限定-->
          </div>
          <div id="new-image" class="mt-4 d-flex justify-content-center"><!--プレビュー--></div>
          <h2 class="sub-header mt-5">内容</h2>
          <div class="form-group row mt-5">
            <%= f.label :title, class:'col-2 offset-1 pl-0' do%>
              <span><strong>タイトル</strong></span>
            <% end %>
            <%= f.text_field :title, autofocus: true, class:'col-7 mx-auto form-control' %>
          </div>
          <div class="form-group row">
            <%= f.label :date, class:'col-2 offset-1 pl-0' do%>
              <span><strong>撮影日時</strong></span>
            <% end %>
            <%= f.date_field :date, value: @post.date, class:'col-3 mx-auto form-control' %>
            <span class="col-4"></span>
          </div>
          <div class="form-group row">
            <span class='col-2 offset-1 pl-0'><strong>公開設定</strong></span>
            <%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-25 col-3 mx-auto form-control"} %>
            <span class="col-4"></span>
          </div>
          <div class="form-group row">
            <%= f.label :content, class:'col-2 offset-1 pl-0' do%>
              <span><strong>紹介文</strong></span>
            <% end %>
            <%= f.text_area :content, class:'col-7 mx-auto form-control' %>
          </div>
          <div class="form-group row">
            <span class = "col-2 offset-1 pl-0"><strong>タグ選択</strong></span>
            <table class="col-10 my-4 mx-auto">
              <% @categories.each do |category| %>
              <tr>
                <td><span class="mr-3"><%= category.name %></span></td>
                <% category.tags.each do |tag| %>
                <td>
                  <label class="tag_area">
                    <input class= "tag_input" type="checkbox" value="<%= tag.id %>" name="post[tags][]" id="post_tags_<%= tag.id %>">
                    <div class="tag_list">
                      <label for="post_tags_<%= tag.id %>" class= "tag_link"><div class="tag_text"><%= tag.name %></div></label>
                    </div>
                  </label>
                </td>
                <% end %>
              </tr>
              <% end %>
            </table>
          </div>
          <div>
            <%= f.hidden_field :latitude,:value =>"緯度", id: :lat %>
            <%= f.hidden_field :longitude,:value =>"経度", id: :lng %>
          </div>
          <h2 class="sub-header">位置情報</h2>
          <div class="row d-flex justify-content-center pb-5 border-bottom">
            <%= render "new_map" %>
          </div>
          <div class="form-group row d-flex justify-content-center mt-5">
            <p class="text-center font-weight-light pb-3 ">個人情報の記載がないか、<br>投稿内容を再度確認した上での投稿をお願いいたします。</p>
            <%= f.button "投稿する", type: 'button', onclick: "submit();", class: "link-btn-lg col-6" %> <!--Enter Keyで投稿処理を行わないためにf.buttonに変更-->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>