<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">Post</span>
            <span class="text-ja">投稿詳細</span>
          </h1>
        </header>
      </div>
      <div class="col-md-10 my-5 ">
        <div class="row">
          <div class="col-5">
            <% if @post.image.attached? %>
              <%= image_tag @post.image, size: '400x300', class: 'img-fluid img-thumbnail shadow' %>
            <% else %>
              <%= image_tag 'no_image', size: "400x300", class:'img-fluid img-thumbnail shadow' %>
            <% end %>
          </div>
          <div class="col-7 px-5">
            <h3><strong><%= @post.title %></strong></h3>
            <p class="my-3"><strong><%#= l @post.date %></strong></p>
            <div class="my-3">
              <% @post.tags.each do |tag| %>
                <%=tag.name%>
              <% end %>
            </div>
            <p class="my-3"><strong><%= @post.content %></strong></p>
          </div>
        </div>
      </div>
      <div class="row online-btns my-5 ">
          <span class="col-4"></span>
          <%= link_to "edit post", edit_post_path, class: "online-btn col-4 text-center" %>
        </div>
      <div class="row">
        <%= render "show_map", post: @post %>
      </div>
    </div>
  </div>
</div>