<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-sm-12 post-img pb-0 text-center">
        <% if @post.image.attached? %>
          <%= image_tag @post.image %>
        <% else %>
          <%= image_tag 'no_image.png' %>
        <% end %>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h1 class="post-header_ttl">
          <span class= "favorite-<%= @post.id %>">
            <%= render "/public/favorites/btn", post: @post %>
          </span>
          <%= @post.title %>
        </h1>
        <h2 class="sub-header" id="bottom">outline</h2>
        <table>
          <tbody>
            <tr>
              <td class="pb-3"><strong>user</strong></td>
              <td class="pl-5 pb-3">
                <%= link_to @post.user.name, users_path(@post.user.id, id: @post), class:"link"%>
                <span class= "follow-<%= @user.id %> pl-3 mb-0">
                  <%= render "/public/relationships/btn", user: @user, post: @post %>
                </span>
              </td>
            </tr>
            <tr>
              <td class="pb-3"><strong>date</strong></td>
              <td class="pl-5 pb-3"><%= l @post.date, format: :short %></td>
            </tr>
            <tr>
              <% if @post.user == current_user %>
                <td class="pb-3"><strong>post status</strong></td>
                <td class="pl-5 pb-3">
                  <%= @post.status_i18n %>
                  <%= link_to edit_post_path, class:"link ml-2", data: {toggle: "tooltip", placement: "right"}, title: "編集する" do%>
                    <i class="fas fa-edit"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td class="pb-3 d-flex align-items-start"><strong>tags</strong></td>
              <td class="my-3 pl-5 pb-3">
                <% @post.tags.each do |tag| %>
                  <div class= "tag_area d-inline-flex">
                    <div class= "tag_list"><p class="tag_link"><%=link_to tag.name, tag_path(tag.id), class:"tag_text"%></p></div>
                  </div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row py-4">
          <%= link_to "コメントを投稿", {anchor: "in_page_link-comment"}, class: "in_page_link" %>
        </div>
        <div class="border-top border-bottom">
          <div class="post-content my-3 py-4"><%= safe_join(@post.content.split("\n"),tag(:br)) %></div>
        </div>
        <div class="row justify-content-center my-4">
          <div id="favorite2-<%= @post.id %>" class="col-lg-5 col-md-5 col-sm-10 ml-lg-2 ml-md-2 mb-4">
            <%= render "favorite_btn", post: @post %>
          </div>
          <div id="follow2-<%= @user.id %>" class="col-lg-5 col-md-5 col-sm-10 ml-lg-2 ml-md-2">
            <% if current_user == @post.user%>
              <%= link_to edit_post_path, class:"link-btn" do%>
                <i class="fas fa-edit" style="color: black;"></i><span> 投稿を編集する</span>
              <% end %>
            <% else%>
              <%= render "relationship_btn", post: @post, user: @user %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
      <div class="dark_bg py-2">
        <h2 class="sub-header">map</h2>
        <div class="row justify-content-center my-5">
          <%= render "show_map", post: @post %>
        </div>
      </div>
      <h2 class="sub-header" id="in_page_link-comment">comment</h2>
      <div class="row">
        <div class="mx-auto col-lg-9 col-md-9 col-sm-12">
          <%= render "public/comments/form", post: @post, comment: @comment %>
        </div>
      </div>
      <div class="row">
        <div id="comments-area" class="mx-auto col-lg-9 col-md-9 col-sm-12 mb-5">
          <%= render "public/comments/index", post: @post %>
        </div>
      </div>
        <h2 class="sub-header" id="in_page_link-comment">関連する投稿</h2>
        <div class=" row flex-wrap py-1 detailed_index">
          <%= render 'public/posts/index', posts: @related_posts %>
        </div>
    </div>
  </div>
</div>