<% posts.each do |post| %>
  <div class='col-lg-4 col-md-4 col-sm-6 my-5 image-area'>
    <%= link_to admin_post_path(post.id), class:"a" do %>
      <% if post.image.attached? %>
        <%= image_tag post.image, class:'rounded shadow post-image' %>
       <% else %>
        <%= image_tag 'no_image', size: "200x175", class:'rounded shadow' %>
      <% end %>
      <div class="row">
        <span class="text-secondary mt-3"><strong><%= post.title %></strong></span>
        <div class= "favorite-<%= post.id %>">
          <%= render "/public/favorites/btn", post: post %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>