 <div class='container'>
    <div class='row'>
      <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <p class= "text-center text-danger"><%= flash[:withdrawal] %></p>
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">sign up</span>
              <span class="text-ja">新規登録</span>
            </h1>
          </header>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group row mt-5 mb-4">
            <%= f.label :name, class:'col-2 offset-md-2 pl-0' do%>
              <span><strong>user name</strong></span>
            <% end %>
            <%= f.text_field :name, placeholder: "Hitota", autocomplete: "name", autofocus: true, class:'col-4 form-control' %>
          </div>
          <div class="form-group row mb-4">
            <%= f.label :email, class:'col-2 offset-md-2 pl-0' do%>
              <span><strong>email</strong></span>
            <% end %>
            <%= f.text_field :email, placeholder: "hitota@gmail.com", autocomplete: "email", class:'col-4 form-control' %>
          </div>
          <div class="form-group row mb-4">
            <%= f.label :place, class:'col-2 offset-md-2 pl-0' do%>
              <span class="text-nowrap"><strong>favorite place</strong></span>
            <% end %>
            <%= f.text_field :place, placeholder: "都道府県名や海沿いなど何でもありです", class:'col-4 form-control' %>
          </div>
          <div class="form-group row mb-4">
            <%= f.label :password, class:'col-2 offset-md-2 pl-0' do%>
              <span class="text-nowrap"><strong>password</strong></span>
            <% end %>
            <%= f.password_field :password, placeholder: "(6文字以上)", autocomplete: "new-password", class:'col-4 form-control' %>
          </div>
          <div class="form-group row">
            <%= f.label :password_confirmation,class:'col-2 offset-md-2 pl-0' do%>
              <span><strong>password confirmation</strong></span>
            <% end %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用", class:'col-4 form-control' %>
          </div>
          <div class="form-group row mt-5">
            <ul class="accordion-area">
              <li>
                <section>
                  <span class = "category-name"><strong>クリックして興味のあるタグを選択</strong></span>
                  <table class="box mt-4 ml-5">
                    <% @categories.each do |category| %>
                      <tr>
                        <td class="col-3 align-top"><span class="mr-3"><%= category.name %></span></td>
                        <td class="d-flex flex-wrap mb-3">
                          <% category.tags.each do |tag| %>
                            <label class="tag_area d-flex">
                              <input class= "tag_input" type="checkbox" value="<%= tag.id %>" name="user[tags][]" id="user_tags_<%= tag.id %>">
                              <div class="tag_list d-flex">
                                <label for="user_tags_<%= tag.id %>" class= "tag_link"><div class="tag_text"><%= tag.name %></div></label>
                              </div>
                            </label>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </section>
              </li>
            </ul>
          </div>
          <div class="form-group row ml-5">
            <p class="text-sm mt-0">タグを登録することで、<br>
            関連した投稿をおすすめすることができます。</p>
          </div>
          <div class="form-group row d-flex justify-content-center mt-4 border-top">
            <p class="text-center text-sm">個人情報の記載がないか、<br>
            再度確認した上での登録をお願いいたします。</p>
          </div>
          <div class="form-group row d-flex justify-content-center">
            <%= f.submit "新規登録", class: "link-btn-lg col-6" %> <!--Enter Keyで投稿処理を行わないためにf.buttonに変更-->
          </div>
        <% end %>
        <h2 class="sub-header" id="bottom">すでに登録済みの方</h2>
        <div class="d-flex justify-content-center mt-2">
          <p><strong><%= render "public/shared/links" %></strong>からログインしてください</p>
        </div>
      </div>
    </div>
  </div>