<div class='container'>
    <div class='row'>
      <div class="col-lg-9 col-md-9 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">reports</span>
              <span class="text-ja">通報リスト</span>
            </h1>
          </header>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>通報ID</th>
              <th>会員名</th>
              <th>通報者</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |report| %>
              <%= link_to admin_report_path(report) do%>
                <tr class="report_index">
                  <td>
                    <%= report.id, class:"report_list" %>
                  </td>
                  <td>
                    <%= report.reported.name, class:"report_list" %>
                  </td>
                  <td>
                    <%= report.reporter.name, class:"report_list" %>
                  </td>
                  <td>
                    <%= report.status_i18n, class:"report_list" %>
                  </td>
                </tr>
               <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>