<div class='container'>
    <div class='row'>
      <div class="col-lg-9 col-md-9 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">reports</span>
              <span class="text-ja">通報リスト</span>
            </h1>
          </header>
        </div>
        <div class="archive-nav">
          <ul class="page-list">
            <li><%= link_to '新しい順', admin_reports_path(latest: "true"), class:"link" %></li>
            <li><%= link_to '古い順', admin_reports_path(old: "true"), class:"link" %></li>
            <li><%= link_to '評価の高い順', admin_reports_path(star_count: "true"), class:"link" %></li>
          </ul>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">通報ID</th>
              <th>会員名</th>
              <th>通報者</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |report| %>
              <tr class= "report_index"data-link="<%= admin_report_path(report) %>" >
                <td class="text-center">
                  <%= report.id %>
                </td>
                <td>
                  <%= report.reported.name %>
                </td>
                <td>
                  <%= report.reporter.name %>
                </td>
                <td>
                  <%= report.status_i18n %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
  </script>