<div class='container'>
    <div class='row'>
      <div class="col-lg-9 col-md-9 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">details</span>
              <span class="text-ja">通報詳細</span>
            </h1>
          </header>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>通報ID</td>
              <td><%= link_to @report.id %></td>
            </tr>
            <tr>
              <td>会員名</td>
              <td><%= @report.reported.name %></td>
            </tr>
            <tr>
              <td>理由</td>
              <td><%= @report.reason %></td>
            </tr>
            <tr>
              <td>URL等</td>
              <td><%= @report.url %></td>
            </tr>
            <tr>
              <td>通報者</td>
              <td><%= @report.reporter.name %></td>
            </tr>
            <tr>
              <td>対応ステータス</td>
              <td>
                <%= @report.status_i18n %>
                <%= form_with model:@report, url:admin_report_path(@report), method: :patch, local: true do |f| %>
                  <%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] } %>
                  <%= f.submit '更新' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>






</div>