<div class='container'>
    <div class='row'>
      <div class="col-lg-9 col-md-9 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">details</span>
              <span class="text-ja">通報詳細</span>
            </h1>
          </header>
        </div>
        <table class="table col-lg-9 mx-auto">
          <tbody>
            <tr>
              <td>通報ID</td>
              <td><%= @report.id %></td>
            </tr>
            <tr>
              <td>会員名</td>
              <td><%= link_to @report.reported.name, admin_user_path(@report.reported_id), class:"link" %></td>
            </tr>
            <tr>
              <td>理由</td>
              <td><%= @report.reason %></td>
            </tr>
            <tr>
              <td>URL等</td>
              <td><%= @report.url %></td>
            </tr>
            <tr>
              <td>通報者</td>
              <td><%= link_to @report.reporter.name, admin_user_path(@report.reporter_id), class:"link" %></td>
            </tr>
            <tr>
              <td>対応ステータス</td>
              <td>
                <%= form_with model:@report, url:admin_report_path(@report), method: :patch, local: true do |f| %>
                  <div class="row">
                    <%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] }, {}, {class: "custom-select w-25 col-4 form-control"} %>
                    <%= f.submit '更新', class:"col-3 mx-auto" %>
                  </div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>






</div>