 <div class='container'>
    <div class='row'>
      <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">

        <p class= "text-center text-danger"><%= flash[:withdrawal] %></p>

        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">login</span>
              <span class="text-ja">ログイン</span>
            </h1>
          </header>
        </div>
        <%= form_with model: @user, url: user_session_path do |f| %>
            <div class="form-group row">
              <%= f.label :email, 'メールアドレス', class:'col-3 px-0 mx-auto' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:'col-7 mx-auto form-control' %>
            </div>
            <div class="form-group row">
              <%= f.label :password, 'パスワード', class:'col-3 px-0 mx-auto' %>
              <%= f.password_field :password, autocomplete: "current-password", class:'col-7 mx-auto  form-control' %>
            </div>
            <div class="form-group row online-btns">
              <span class="col-5"></span>
              <%= f.submit "ログイン", class: "online-btn col-4" %>
            </div>
          <% end %>

        <h3 class="mb-5 pt-3 border-bottom "><span>会員登録がお済みでない方</span></h3>
        <p class="form-group form-inline offset-4"><%= render "public/shared/links" %>から新規登録を行ってください</p>
      </div>
    </div>
  </div>