 <div class='container'>
    <div class='row'>
      <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">

        <p class= "text-center text-danger"><%= flash[:withdrawal] %></p>

        <div class="content-wrap">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">login</span>
              <span class="text-ja">ログイン</span>
            </h1>
          </header>
        </div>
        <%= form_with model: @user, url: user_session_path do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group row mb-4">
            <%= f.label :email, class:'col-2 offset-md-2 pl-0' do%>
              <span><strong>email</strong></span>
            <% end %>
            <%= f.text_field :email, placeholder: "hitota@gmail.com", autocomplete: "email", autofocus: true, class:'col-4 form-control' %>
          </div>
          <div class="form-group row mb-4">
            <%= f.label :password, class:'col-2 offset-md-2 pl-0' do%>
              <span class="text-nowrap"><strong>password</strong></span>
            <% end %>
            <%= f.password_field :password, placeholder: "(6文字以上)", autocomplete: "new-password", class:'col-4 form-control' %>
          </div>
          <hr>
          <div class="form-group row online-btns d-flex justify-content-center">
            <%= f.submit "ログイン", class: "online-btn col-4 py-2 my-3" %>
          </div>
        <% end %>
        <h2 class="sub-header" id="bottom">会員登録がお済みでない方</h2>
        <p class="form-group form-inline offset-4"><strong><%= render "public/shared/links" %></strong>から新規登録してください</p>
      </div>
    </div>
  </div>