<% posts.each do |post| %>
  <div class='col-lg-4 col-md-4 col-sm-6 my-5'>
    <%= link_to post_path(post.id), data: {"turbolinks" => false}, class:"a" do %>
      <% if post.image.attached? %>
        <%= image_tag post.image, class:'rounded post-image' %>
       <% else %>
        <%= image_tag 'no_image', class:'rounded shadow post-image' %>
      <% end %>
      <div class="row mt-2 ml-1">
        <span class="index-post-ttl mr-2"><%= post.title %></span>
        <div class= "favorite-<%= post.id %>">
          <%= render "/public/favorites/btn", post: post %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>