<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <span class="text-en">my page</span>
            <span class="text-ja">会員ページ</span>
          </h1>
        </header>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h2 class="sub-header">my page</h2>
        <table>
          <tbody>
            <tr>
              <td class="pb-3"><strong>name</strong></td>
              <td class="pl-5 pb-3">
                  <%= @user.name %>
                <%# else %>
                  <%#= link_to @name, user_index_path(@user.id), class:"link"%>
                  <%# if @user == current_user %>
                  <span class= "follow-<%= @user.id %> pl-3 mb-0">
                    <%= render "/public/relationships/btn", user: @user, post: @post %>
                  </span>
                <%# end %>
              </td>
            </tr>
            <tr>
              <td class="pb-3"><strong>place</strong></td>
              <td class="pl-5 pb-3"><%= @user.place %></td>
            </tr>
            <tr>
              <td class="pb-3 d-flex align-items-start"><strong>tags</strong></td>
              <td class="my-3 pl-5 pb-3">
                <%# @tags.each do |tag| %>
                  <div class= "tag_area d-inline-flex">
                    <div class= "tag_list"><p class="tag_link"><%#=link_to tag.name, tag_path(tag.id), class:"tag_text"%></p></div>
                  </div>
                <%# end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>






      <table class="table">
          <tbody>
              <tr>
                  <th scope="row" class='col-lg-4'>user name</th>
                  <td class='col-lg-8 py-2'><%= current_user.name %></td>
              </tr>
              <tr>
                  <th scope="row" class='col-lg-4'>email</th>
                  <td class='col-lg-8 py-2'><%= current_user.email %></td>
              </tr>

              <tr>
                  <th scope="row" class='col-lg-4'>tags</th>
                  <td class='col-lg-8 py-2'></td>
              </tr>
          </tbody>
        </table>
        <div class="row online-btns my-5 ">
          <span class="col-4"></span>
          <%= link_to "edit", edit_users_path, class: "online-btn col-4 text-center" %>
        </div>
        <div class="row online-btns my-5 ">
          <span class="col-4"></span>
          <%= link_to "my posts", user_index_path(current_user.id), class: "online-btn col-4 text-center" %>
        </div>
        <div class="row online-btns my-5 ">
          <span class="col-4"></span>
          <%= link_to "drafts", confirm_posts_path, class: "online-btn col-4 text-center" %>
        </div>
        <div class="content-wrap my-5">
          <header class="page-header heading">
            <h1 class="mb-5 heading__ttl">
              <span class="text-en">recent posts</span>
              <span class="text-ja">最近の投稿</span>
            </h1>
          </header>
        </div>
    </div>
  </div>
</div>