<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <div class="content-wrap">
        <header class="page-header heading">
          <h1 class="mb-5 heading__ttl">
            <% if @user == current_user%>
              <span class="text-en">my page</span>
            <% else %>
              <span class="text-en">user page</span>
            <% end %>
            <span class="text-ja">会員ページ</span>
          </h1>
        </header>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h2 class="sub-header">infomation</h2>
        <table>
          <tbody>
            <tr>
              <td class="pb-3"><strong>name</strong></td>
              <td class="pl-5 pb-3">
                  <% if current_user %>
                    <%= @user.name %>
                    <%= link_to edit_users_path, class:"link ml-2", data: {toggle: "tooltip", placement: "right"}, title: "編集する" do%>
                      <i class="fas fa-edit"></i>
                    <% end %>
                  <% elsif @user != current_user %>
                    <span class= "follow-<%= @user.id %> pl-3 mb-0">
                      <%= @user.name %>
                      <%= render "/public/relationships/btn", user: @user, post: @post %>
                    </span>
                  <% end %>
              </td>
            </tr>
            <tr>
              <td class="pb-3"><strong>favorite place</strong></td>
              <td class="pl-5 pb-3"><%= @user.place %></td>
            </tr>
            <tr>
              <td class="pb-3"><strong>email</strong></td>
              <td class="pl-5 pb-3"><%= @user.email %></td>
            </tr>
            <tr>
              <td class="pb-3 d-flex align-items-start"><strong>tags</strong></td>
              <td class="my-3 pl-5 pb-3">
                <% @tags.each do |tag| %>
                  <div class= "tag_area d-inline-flex">
                    <div class= "tag_list"><p class="tag_link"><%=link_to tag.name, tag_path(tag.id), class:"tag_text"%></p></div>
                  </div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-center my-4">
        <div id="follow2-<%= @user.id %>" class="col-lg-5 col-md-5 col-sm-10 ml-lg-2 ml-md-2 mb-4">
          <% if current_user %>
            <%= link_to "編集", edit_users_path, class: "link-btn" %>
          <% else%>
            <%= render "relationship_btn", post: @post, user: @user %>
          <% end %>
        </div>
        <div id="follow2-<%= @user.id %>" class="col-lg-5 col-md-5 col-sm-10 ml-lg-2 ml-md-2 mb-4">
          <% if current_user %>
            <%= link_to "下書き一覧", confirm_posts_path, class: "link-btn" %>
          <% else%>
            <%= render "投稿一覧", user_index_path(@user.id), class: "link-btn" %>
          <% end %>
        </div>
      </div>
      <h2 class="sub-header" id="bottom">recent posts</h2>
      <div class="row">
        <div class='col-md-12 mb-5'>
          <div class="d-flex align-content-start row flex-wrap py-1">
            <%= render 'public/posts/index', posts: @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>