<header>
      <nav class="navbar navbar-expand-lg">
        <div class="container mt-3">
          <a class="navbar-brand" href="/">
            <%= image_tag 'logo.png', height: '30' %>
            <%= image_tag 'logo_sub.png', height: '15', class:"ml-4" %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

          <% if request.path.match(/\/admin(\/)?/) && admin_signed_in?%>
            <li>
              <%= link_to admin_users_path, class:"a-header" do %>
                <div class="nav-link text-light a-header">会員一覧</div>
              <%end%>
            </li>
            <li>
              <%= link_to admin_posts_path, class:"a-header" do %>
                <div class="nav-link text-light a-header">投稿一覧</div>
              <%end%>
            </li>
            <li>
              <%= link_to admin_tags_path, class:"a-header" do %>
                <div class="nav-link text-light a-header">タグ一覧</div>
              <%end%>
            </li>
            <li>
              <%= link_to admin_tags_path, class:"a-header" do %>
                <div class="nav-link text-light a-header">新規作成</div>
              <%end%>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, class:"a-header", method: :delete do %>
                <div class="nav-link text-light a-header">ログアウト</div>
              <%end%>
            </li>

          <% elsif request.path.match(/\/admin(\/)?/) %>
            <li>
              <%= link_to new_admin_session_path, class:"a-header" do %>
                <div class="nav-link a-header">ログイン</div>
              <%end%>
            </li>

          <% elsif user_signed_in? %>
            <li>
              <%= link_to users_path, class:"a-header" do %>
                <div class="nav-link a-header mt-2">マイページ</div>
              <%end%>
            </li>
            <li>
              <%= link_to posts_path, class:"a-header" do %>
                <div class="nav-link a-header mt-2">場所をめぐる</div>
              <%end%>
            </li>
            <li>
              <%= link_to posts_path, class:"a-header" do %>
                <div class="nav-link a-header mt-2">行きたい場所</div>
              <%end%>
            </li>
            <li>
              <%= link_to new_post_path, class:"a-header" do %>
                <div class="nav-link a-header mt-2">投稿する</div>
              <%end%>
            </li>
            <li>
              <%= link_to destroy_user_session_path, class:"a-header", method: :delete do %>
                <div class="nav-link a-header mt-2">ログアウト</div>
              <%end%>
            </li>

          <% else %>
            <li>
              <%= link_to about_path, class:"a-header" do %>
                <div class="nav-link a-header">About</div>
              <%end%>
            </li>
            <li>
              <%= link_to posts_path, class:"a-header" do %>
                <div class="nav-link a-header">場所をめぐる</div>
              <%end%>
            </li>
            <li>
              <%= link_to new_user_registration_path, class:"a-header" do %>
                <div class="nav-link a-header">新規登録</div>
              <%end%>
            </li>
            <li>
              <%= link_to new_user_session_path, class:"a-header" do %>
                <div class="nav-link a-header">ログイン</div>
              <%end%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <% if request.path.match(/\/admin(\/)?/) && admin_signed_in? %>
      <% else %>
      <% end %>
      <!--検索機能用-->
    </div>
  </nav>
</header>