<!DOCTYPE html>
<html>
  <head>
    <title>Hitotabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-1-14/css/5-1-14.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-infinite-loading@2.4.5/dist/vue-infinite-loading.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/hamburger' %>
    <div class="openbtn1"><span></span><span></span><span></span></div>
    <main>
      <%= yield %>
    </main>
    <!--スクロール表記-->
    <p class="js-scroll scroll-top scroll-view"><a href="#bottom">Scroll</a></p>
    <p class="js-pagetop scroll-top"><a href="#">Page Top</a></p>
    <%= render 'layouts/footer' %>
    <script>
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <!------------masonry用-------------->
    <script>
      const grid = document.getElementsByClassName('masonry')[0];
      const allItems = document.getElementsByClassName('masonry-item');
      const rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
      const rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));

      const resizeGridItem = (item) => {
        const rowSpan = Math.ceil((item.querySelector('.masonry-content').getBoundingClientRect().height + rowGap) / (rowHeight + rowGap));
        item.style.gridRowEnd = 'span ' + rowSpan;
      }

      const resizeAllGridItems = () => {
        for( let i=0; i < allItems.length; i++){
          resizeGridItem(allItems[i]);
        }
      }

      let timer = false;
      window.addEventListener('resize', () => {
        if (timer !== false) {
          clearTimeout(timer);
        }
        timer = setTimeout(function() {
          resizeAllGridItems();
        }, 200);
      });

      window.addEventListener('load', () => {
        for(i=0; i<allItems.length; i++){
          imagesLoaded( allItems[i], (instance) => {
            const item = instance.elements[0];
            resizeGridItem(item);
          });
        }
      });
    </script>
    <!---------------------------------------------------->
  </body>
</html>
